body {
  background-image: url('images/light.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

#Header a  {
  transition-duration: 0.2s;
}

#links i {
  transition-duration: 0.2s;
}

#Header a:hover {
  color:#FFF;    
}

.title {
  font-family: 'Open Sans', sans-serif;
}

#bg-img {
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 350px;
}

#About {
  margin-top: -200px;
}

#About .fa {
  color: #FFF
}

#About .fa:hover {
  color: #2d5986;
}

#links {
  background-color: #19334d;
}

#About span {
  padding: 10px 20px 10px 20px;
}

#About hr {
  border-width:2px;
  margin-top:06px;
}

#Skills {
  margin-top: 150px;
}

#skill {
  padding: 5px;
}

#Skills span {
  font-size: 24px;
  background-color: #333333;
  padding: 10px 20px 10px 20px;
}
#Skills hr {
  background-color: #333333;
  border-width:2px;
  margin-top:06px;
}

.progress-bar {
  background-color: #006666;
}

#Contact {
  margin-top: 150px;
}


#Contact span {
  font-size: 24px;
  background-color: #333333;
  padding: 10px 20px 10px 20px;
}
#Contact hr {
  background-color: #333333;
  border-width:2px;
  margin-top:06px;
}

#academic {
  padding-top: 20px;
}

#academic ul {
  list-style: none;
}

#academic h3 {
  color: #4EB1BA;
}

#Experience {
  margin-top: 150px;
}

#Experience span {
  font-size: 24px;
  background-color: #333333;
  padding: 10px 20px 10px 20px;
}

#Experience hr {
  background-color: #333333;
  border-width:2px;
  margin-top:06px;
}

#Contact {
  margin-top: 150px;
}

#Contact span {
  font-size: 24px;
  background-color: #333333;
  padding: 10px 20px 10px 20px;
}
#Contact hr {
  background-color: #333333;
  border-width:2px;
  margin-top:06px;
}

#Anime {
  margin-top: 150px;
}

#Anime span {
  font-size: 24px;
  background-color: #333333;
  padding: 10px 20px 10px 20px;
}

#Anime hr {
  background-color: #333333;
  border-width:2px;
  margin-top:06px;
}

h3 {
  font-size: 1.25rem;
  font-family: "Roboto";
  text-transform: uppercase;
  word-spacing: 2px;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#developed {
  padding-bottom: 5px;
}

#about_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px;
  line-height: 1.5;
  color: #212529;
}
h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-brand h3 {
  font-family: "Times New Roman", Times, serif;
}

.media {
  border-radius: 0%;
  padding-top: 0%;
  margin-top: 0%;
}

.media-body {
  padding-top: 0%;
  margin-top: 0%;
}

.media-body h1 {
  background-color: #333333;
  color: #4EB1BA;
  text-align: center;
}

.media-body h2 {
  font-weight: bolder;
  text-align: center;
}

#comment-container {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 70px;
  }
  
#comment-container h2 {
  text-align: center;
}

#comment-container li {
  padding-left: 5px;
  list-style: none;
  padding-bottom:  8px;
}

.comment {
  float: left;
  width: 70%;
  border-bottom: dotted 1px #333;
}

.sentiment {
  float: left;
  width: 30%;
  text-align: right;
  border-bottom: dotted 1px #333;
  font-weight: bold;
}

.clr {
  clear:both;
}

#p-click {
  color: #333;
  font-size: 24px;
  display: inline;
}

.card-header button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border:none;
  margin-top: 10px;
}

#quote-container {
  font-size: xx-large;
  margin: 60px;
  text-align: center;
  color: #4EB1BA  ;
  background-color: #222930;
  font-weight: bolder;
  padding: 10px;
}

.kaneki-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}